// http://chir.ag/projects/name-that-color/
// https://davidwalsh.name/sass-color-variables-dont-suck

$color-white: #FFFFFF;
$color-black: #000000;

$color-log-cabin: #162016;
$color-allports: #00729B;
$color-gray-nurse: #E5EEE5;
$color-b: #148BA6;
$color-g: #6CC780;

$font-sans-serif: 'Overpass', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-base:  24px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // 30 //~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // 21 //~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // 62 //~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // 51 //~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // 41 //~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // 30 //~18px
$font-size-h5: $font-size-base !default; // 24
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // 21 //~12px

$font-mobile-multiplier:  0.75;




//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
