@charset 'utf-8';

// External assets
// @import '../../node_modules/susy/sass/susy';
@import '../../node_modules/normalize.css/normalize';

// @import 'vendor/bootstrap';
// @import 'vendor/syntax-highlighting';
@import 'fonts';
@import 'variables';
@import 'mixins';

html, body {
    height: 100%;
    font-family: LeagueSpartan;
    
    @include breakpoint(max, $screen-sm) {
        overflow: hidden;
    }
}

.palette-pad {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include breakpoint(max, $screen-sm) {
        flex-direction: column;
    }
}

@import 'partials/menu';
@import 'partials/palette';
@import 'partials/buttons';
@import 'partials/action-sheets';
