.action-sheets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 9;

    &__background {
        position: relative;
        width: 100%;
        height: 100%;
        transition: background-color 0.2s;
        background-color: rgba(0,0,0,0);
    }

    &--active {
        transform: translateY(0%);

        .action-sheets__background {
            background-color: rgba(0,0,0,0.5);
        }
    }


    &__share {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        transform: translate(-50%, -70%);
        transition: opacity 0.2s, transform 0.2s;
        background-color: $color-log-cabin;
        color: white;
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);
        opacity: 0;
        z-index: 999;
        box-sizing: border-box;
        
        @include breakpoint(max, $screen-sm) {
            width: 90%;
        }

        &--active {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 7px 4px;
        cursor: pointer;
        
        @include breakpoint(max, $screen-sm) {
            top: 5px;
            padding: 10px 11px 8px;
        }

        &__icon {
            width: 25px;
            height: 25px;
            fill: rgba($color-white, 0.5);
        }
    }

    &__text-input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 0 3px;
        border: 0;
        border-bottom: 2px solid rgba(255,255,255,0.5);
        border-radius: 0;
        background: transparent;
        color: inherit;
        appearance: none;
    }
}

