.buttons {
    display: flex;
    flex-basis: auto;
    font-size: 18px;
    overflow: hidden;

    @include breakpoint(max, $screen-sm) {
        flex-shrink: 0;
        height: 2.5em;
        max-height: 2.5em;
    }

    @include breakpoint(min, $screen-sm) {
        flex-direction: column;
    }
    
    &__button {
        flex-grow: 1;
        border: 0;
        background-color: $color-log-cabin;
        color: white;
        font-family: sans-serif;
        font-size: 2em;
        appearance: none;

        @include breakpoint(min, $screen-sm) {
            padding: 10px;
        }

        &:not(:last-child) {
            @include breakpoint(max, $screen-sm) {
                margin-right: 1px;
            }
            @include breakpoint(min, $screen-sm) {
                margin-bottom: 1px;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $color-white;

        &--larger {
            width: 30px;
            height: 30px;
        }
    }
}
