.menu {
    flex-basis: auto;
    background-color: $color-log-cabin;
    font-size: 18px;
    text-align: center;
    overflow: hidden;

    @include breakpoint(max, $screen-sm) {
        flex-shrink: 0;
        height: 2.777778em;
        max-height: 2.777778em;
    }
}

.logo {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 10px 2px;
    color: white;
    font-size: 1em;
    line-height: 1.6em;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(
            to right,
            #A0EBFF 0%, #A0EBFF 33%, 
            #413741 33%,  #413741 67%, 
            #6CC780 67%, #6CC780 100%
        );
        content: '';
    }
}
