.palette-container {
    height: 100%;
}

.palettes {
    display: flex;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 0;

    @include breakpoint(max, $screen-sm) {
        flex-direction: column;
    }
}

.palette {
    position: relative;
    flex-grow: 1;
    align-items: stretch;
    min-width: 0px;
    height: 100%;
    transition: min-width 0.25s;
    list-style: none;
    cursor: move;
    overflow: hidden;
    @include breakpoint(max, $screen-sm) {
        min-height: 0;
        transition: min-height 0.25s;
    }

    &.palette--focused {
        min-width: 275px;
        @include breakpoint(max, $screen-sm) {
            min-height: 250px;
        }
    }
    
    &__block {
        width: 100%;
        height: 100%;
    }

    &__close, &__done {
        display: none;
        position: absolute;
        top: 0;
        padding: 6px 7px 4px;
        cursor: pointer;
        
        @include breakpoint(max, $screen-sm) {
            top: 5px;
            padding: 10px 11px 8px;
        }

        &__icon {
            width: 25px;
            height: 25px;
            fill: rgba($color-black, 0.4);
        }

        &--dark {
            .palette__close__icon {
                fill: rgba($color-white, 0.4);
            }
        }
    }
    
    &__close {
        right: 0;
        @include breakpoint(max, $screen-sm) {
            right: 50px;
        }
    }

    &__done {
        right: 0px;
    }

    &.palette--focused .palette__close {
        display: block;
    }

    &.palette--focused .palette__done {
        @include breakpoint(max, $screen-sm) {
            display: block;
        }
    }

    &__inputs {
        position: absolute;
        min-width: 200px;
        margin: 20px;
        color: rgba(black, 0.5);
        cursor: default;
        @include breakpoint(max, $screen-sm) {
            font-size: 14px;
        }
    }
    &__input-hex,
    &__input-rgb {
        margin-bottom: 10px;
        padding: 3px 5px;
        border: 0;
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-radius: 0;
        background: transparent;
        color: inherit;
        appearance: none;
    }
    &__input-hex {
        width: 73px;
        text-transform: uppercase;
    }
    &__input-rgb {
        width: 35px;
    }

    &__inputs-group {
        &--keyboard {
            @include breakpoint(max, $screen-sm) {
                display: none;
            }
        }
        &--touch {
            display: none;
        }
    }

    &.palette--focused .palette__inputs-group--touch {
        display: block;
    }

    &__outputs-touch {
        display: none;
    }
        
    &.palette--focused .palette__outputs-touch {
        @include breakpoint(max, $screen-sm) {
            display: block;
            margin-bottom: 7px;
        }
    }

    &__matched-name {
        @include breakpoint(max, $screen-sm) {
            display: none;
        }
    }

    &.palette--focused .palette__matched-name {
        @include breakpoint(max, $screen-sm) {
            display: block;
        }
    }

    &__slider {
        width: 100%;
        margin: 10px 0;
        padding: 20px 0 20px;
        background-color: transparent;
        appearance: none;

        @include breakpoint(min, $screen-sm) {
            display: none;
        }

        &::-webkit-slider-thumb {
            width: 40px;
            height: 40px;
            margin-top: -19.5px;
            border: 2px solid rgba(0,0,0,0.5);
            border-radius: 40px;
            background-color: transparent;
            appearance: none;
        }
        &::-webkit-slider-runnable-track {
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2);
            appearance: none;
        }
        &::-moz-range-thumb {
            width: 40px;
            height: 40px;
            margin-top: -19.5px;
            border: 2px solid rgba(0,0,0,0.5);
            border-radius: 40px;
            background-color: transparent;
            appearance: none;
        }
        &::-moz-range-track {
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2);
            appearance: none;
        }
        // untested
        &::-ms-thumb {
            width: 40px;
            height: 40px;
            margin-top: -19.5px;
            border: 2px solid rgba(0,0,0,0.5);
            border-radius: 40px;
            background-color: transparent;
            appearance: none;
        }
        &::-ms-track {
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2);
            appearance: none;
        }
        &:focus {
            outline: none; 
        }
    }
    
    &--dark {
        color: rgba($color-white, 0.5);
        .palette__input-hex,
        .palette__input-rgb {
            border-bottom: 2px solid rgba($color-white, 0.5);
        }
        .palette__slider {
            &::-webkit-slider-thumb {
                border-color: rgba($color-white, 0.5);
            }
            &::-webkit-slider-runnable-track {
                background-color: rgba($color-white, 0.2);
            }
            &::-moz-range-thumb {
                border-color: rgba($color-white, 0.5);
            }
            &::-moz-range-track {
                background-color: rgba($color-white, 0.2);
            }
            &::-ms-thumb {
                border-color: rgba($color-white, 0.5);
            }
            &::-ms-track {
                background-color: rgba($color-white, 0.2);
            }
        }
    }
}
